<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=fallback"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Moshify - Button component</title>
  </head>
  <body>
    <button class="button button--primary">get started</button>
    <button class="button button--primary button--block">get started</button>
    <button class="button button--accent">get started</button>
    <button class="button button--accent button--block">get started</button>
    <button class="button button--secondary">get started</button>
    <button class="button button--secondary button--block">get started</button>
    <button class="button button--outlined">get started</button>
    <button class="button button--outlined button--block">get started</button>
    <div>
      <a href="#" class="button button--accent">get started</a>
      <a href="#" class="button button--secondary button--block">get started</a>
    </div>
  </body>
</html>
