<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=fallback"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Moshify - Navbar component</title>
  </head>
  <body>
    <nav class="navbar collapsible">
      <a class="navbar__brand" href="/moshify/component/nav-bar.html"
        ><img src="../images/logo.svg" alt="A nice logo"
      /></a>
      <svg class="icon icon--white navbar__menu-icon">
        <use xlink:href="../images/sprite.svg#menu"></use>
      </svg>
      <ul class="list navbar__list collapsible__content">
        <li class="navbar__item"><a href="#">Hoisting</a></li>
        <li class="navbar__item"><a href="#">VPS</a></li>
        <li class="navbar__item"><a href="#">Domain</a></li>
        <li class="navbar__item"><a href="#">Pricing</a></li>
      </ul>
    </nav>
    <script src="../js/main.js"></script>
  </body>
</html>
